Estimate the fair market value of the following trading card:
Card Set: <TMPL_VAR TITLE>
Card #: <TMPL_VAR ISSUE_NUM>
Year: <TMPL_VAR YEAR>
<TMPL_IF NOTES>Notes: <TMPL_VAR NOTES></TMPL_IF>
<TMPL_IF PSA_GRADE>PSA Grade: <TMPL_VAR PSA_NUMBER> <TMPL_VAR PSA_GRADE_ABBREV> (<TMPL_VAR PSA_GRADE>)</TMPL_IF>

If a PSA Grade is included, assume it's professionally graded. Do not include values from unsold listings or auctions.
