<TMPL_INCLUDE NAME="header.tmpl">

<TMPL_IF MESSAGE><span style="color: red;"><TMPL_VAR MESSAGE></span></TMPL_IF>

<b><br>

<TMPL_LOOP INDEXED_TITLES>
    <font size="+1"><a href="<TMPL_VAR SCRIPT_NAME>?title=<TMPL_VAR TITLE>"><TMPL_VAR TITLE></a></font>: <TMPL_LOOP ISSUES><a href="<TMPL_VAR IMAGE_PAGE_URL>"><TMPL_VAR ISSUE_NUM></a>, </TMPL_LOOP><br>
</TMPL_LOOP>

<br>
<TMPL_INCLUDE NAME="footer.tmpl">
