<TMPL_INCLUDE NAME="header.tmpl">

<hr>

<div style="float: left; width: 50%;">
    
    <h2 style="display: inline; margin-right: 100px;"><TMPL_IF ID>Edit<TMPL_ELSE>Add</TMPL_IF> Item</h2>

    <TMPL_IF ID>
        <form style="display: inline;" method="post" action="<TMPL_VAR SCRIPT_NAME>" onSubmit="return confirm('Really delete this issue?');">
        <input type="hidden" name="action" value="deleteIssue">
        <input type="hidden" name="id" value="<TMPL_VAR ID>">
        <input style="display: inline;" type="submit" value="Delete">
        </form>
    </TMPL_IF>

    <br><br>

    <form method="post" enctype='multipart/form-data' action="<TMPL_VAR SCRIPT_NAME>">

    Title: <select name="title_id">
    <option value="">select title...
    <TMPL_LOOP TITLES>
        <option value="<TMPL_VAR ID>" <TMPL_VAR SELECTED>><TMPL_VAR TITLE>
    </TMPL_LOOP>
    </select><br><br>

    Issue #: <input type="text" size="6" name="issue_num" value="<TMPL_VAR ISSUE_NUM>"> &nbsp;&nbsp;&nbsp;&nbsp; Year: <input type="text" name="year" value="<TMPL_VAR YEAR>"><br><br>

    Image Page URL: <input style="width: 85%;" type="text" name="image_page_url" value="<TMPL_VAR IMAGE_PAGE_URL>"><br><br>

    Thumbnail Image URL: <input style="width: 85%;" type="text" name="thumb_url" value="<TMPL_VAR THUMB_URL>"><br><br>

    Grade: <select name="grade_id">
    <option value="">select grade of best copy...
    <TMPL_LOOP GRADES>
        <option value="<TMPL_VAR ID>" <TMPL_VAR SELECTED>><TMPL_VAR CGC_NUMBER> - <TMPL_VAR GRADE_ABBREV> - <TMPL_VAR GRADE>
    </TMPL_LOOP>
    </select><br><br>

    Cover Image: <input type="file" name="cover"><br><br>

    Notes: <input style="width: 85%;" type="text" name="notes" value="<TMPL_VAR NOTES>"> <br><br>

    <input type="hidden" name="id" value="<TMPL_VAR ID>">
    <input type="hidden" name="action" value="saveIssue">
    <input type="submit" value="Save Item" style="font-size: 1.4em;">
    </form>

    <br><br>
    
    <hr>
    <h2>Images</h2>
    
    <form method="post" enctype='multipart/form-data' action="<TMPL_VAR SCRIPT_NAME>">

    Image: <input type="file" name="image"><br><br>

    Notes: <input style="width: 85%;" type="text" name="notes" value="<TMPL_VAR IMAGE_NOTES>"> <br><br>

    <input type="hidden" name="item_id" value="<TMPL_VAR ID>">
    <input type="hidden" name="action" value="saveImage">
    <input type="hidden" name="id" value="<TMPL_VAR IMAGE_ID>">
    <input type="submit" value="Save Image" style="font-size: 1.4em;">
    </form>

</div>

<div style="float: right; width: 50%; text-align: right;">

    <img id="bigimage" style="max-width: 100%; height: 800px;" src="/images/<TMPL_VAR MAIN_IMAGE_FILENAME>">

    <div class="images_grid">

    <TMPL_LOOP IMAGES>
        <div>
            <img style="height: 120px;" src="/images/<TMPL_VAR FILENAME>" onClick="setImage('<TMPL_VAR FILENAME>');">
        </div>
    </TMPL_LOOP>

    </div>

</div>
<div style="clear: both;"></div>

<TMPL_VAR ISS>

<script>

function setImage(filename) {
    document.getElementById('bigimage').src = '/images/' + filename;
}

</script>


<TMPL_INCLUDE NAME="footer.tmpl">
