<TMPL_INCLUDE NAME="header.tmpl">

<img align="right" width="159" height="240" src="<TMPL_VAR THUMB_URL>">
<h1><TMPL_IF ID>Edit<TMPL_ELSE>Add</TMPL_IF> Issue</h1>

<form method="post" enctype='multipart/form-data' action="<TMPL_VAR SCRIPT_NAME>">

Title: <select name="title_id">
<option value="">select title...
<TMPL_LOOP TITLES>
    <option value="<TMPL_VAR ID>" <TMPL_VAR SELECTED>><TMPL_VAR TITLE>
</TMPL_LOOP>
</select><br><br>

Issue #: <input type="text" size="6" name="issue_num" value="<TMPL_VAR ISSUE_NUM>"> &nbsp;&nbsp;&nbsp;&nbsp; Year: <input type="text" name="year" value="<TMPL_VAR YEAR>"><br><br>

Image Page URL: <input type="text" size="100" name="image_page_url" value="<TMPL_VAR IMAGE_PAGE_URL>"><br><br>

Thumbnail Image URL: <input type="text" size="100" name="thumb_url" value="<TMPL_VAR THUMB_URL>"><br><br>

Grade: <select name="grade_id">
<option value="">select grade of best copy...
<TMPL_LOOP GRADES>
    <option value="<TMPL_VAR ID>" <TMPL_VAR SELECTED>><TMPL_VAR CGC_NUMBER> - <TMPL_VAR GRADE_ABBREV> - <TMPL_VAR GRADE>
</TMPL_LOOP>
</select><br><br>

Cover Image: <input type="file" name="cover"><br><br>

Notes: <input type="text" name="notes" size="125" value="<TMPL_VAR NOTES>"> <br><br>

<input type="hidden" name="id" value="<TMPL_VAR ID>">
<input type="hidden" name="action" value="saveIssue">
<input type="submit" value="Save" style="font-size: 1.4em;">
</form>

<br><br><br>
<form method="post" action="<TMPL_VAR SCRIPT_NAME>" onSubmit="return confirm('Really delete this issue?');">
<input type="hidden" name="action" value="deleteIssue">
<input type="hidden" name="id" value="<TMPL_VAR ID>">
<input type="submit" value="Delete">
</form>


<TMPL_INCLUDE NAME="footer.tmpl">
