<TMPL_INCLUDE NAME="header.tmpl">

<hr>

<div style="float: left; width: 50%;">
    
    <h2 style="display: inline; margin-right: 100px;"><TMPL_IF ID>Edit<TMPL_ELSE>Add</TMPL_IF> Item</h2>

    <TMPL_IF ID>
        <form style="display: inline;" method="post" action="<TMPL_VAR SCRIPT_NAME>" onSubmit="return confirm('Really delete this issue?');">
        <input type="hidden" name="action" value="deleteIssue">
        <input type="hidden" name="id" value="<TMPL_VAR ID>">
        <input style="display: inline;" type="submit" value="Delete">
        </form>
    </TMPL_IF>

    <br><br>

    <form method="post" enctype='multipart/form-data' action="<TMPL_VAR SCRIPT_NAME>">

    Title: <select name="title_id">
    <option value="">select title...
    <TMPL_LOOP TITLES>
        <option value="<TMPL_VAR ID>" <TMPL_VAR SELECTED>><TMPL_VAR TITLE>
    </TMPL_LOOP>
    </select><br><br>

    Issue #: <input type="text" size="6" name="issue_num" value="<TMPL_VAR ISSUE_NUM>"> &nbsp;&nbsp;&nbsp;&nbsp; Year: <input type="text" name="year" value="<TMPL_VAR YEAR>"><br><br>

    Image Page URL: <input style="width: 85%;" type="text" name="image_page_url" value="<TMPL_VAR IMAGE_PAGE_URL>"><br><br>

    Thumbnail Image URL: <input style="width: 85%;" type="text" name="thumb_url" value="<TMPL_VAR THUMB_URL>"><br><br>

    Grade: <select name="grade_id">
    <option value="">select grade of best copy...
    <TMPL_LOOP GRADES>
        <option value="<TMPL_VAR ID>" <TMPL_VAR SELECTED>><TMPL_VAR CGC_NUMBER> - <TMPL_VAR GRADE_ABBREV> - <TMPL_VAR GRADE>
    </TMPL_LOOP>
    </select><br><br>

    Notes: <input style="width: 85%;" type="text" name="notes" value="<TMPL_VAR NOTES>"> <br><br>

    <input type="hidden" name="id" value="<TMPL_VAR ID>">
    <input type="hidden" name="action" value="saveIssue">
    <input type="submit" value="Save Item" style="font-size: 1.4em;">
    </form>

    <br><br>
    
    <hr>

    <TMPL_IF IMAGES>
        <h2>Images</h2>

        <div class="images_grid">

        <TMPL_LOOP IMAGES>
            <div align="center">
                <img style="max-width: 100%; max-height: 225px;" src="/images/<TMPL_VAR FILENAME>" onClick="setImage('<TMPL_VAR FILENAME>', <TMPL_VAR ID>);"><br>
                <TMPL_VAR SIZE_KB> KB
                <TMPL_IF MAIN><br>(main)</TMPL_IF>
                <TMPL_IF STOCK><br>(stock)</TMPL_IF>
                <TMPL_IF NOTES><br><TMPL_VAR NOTES></TMPL_IF>
            </div>
        </TMPL_LOOP>

        </div>
    </TMPL_IF>

</div>

<div style="float: right; width: 50%; text-align: center;">
   
    <TMPL_IF MAIN_IMAGE_FILENAME>
        <img id="bigimage" style="max-width: 100%; max-height: 900px;" src="/images/<TMPL_VAR MAIN_IMAGE_FILENAME>">
        <br>
    </TMPL_IF>
    
    <span id="delete_button"></span>

    <h2><span id="image_verb">Add</span> Image</h2>
    
    <form method="post" enctype='multipart/form-data' action="<TMPL_VAR SCRIPT_NAME>">

    Image: <input type="file" name="image"> &nbsp;&nbsp;&nbsp; <input type="checkbox" id="edit_image_main" name="main"> Main &nbsp;&nbsp;&nbsp; <input type="checkbox" id="edit_image_stock" name="stock"> Stock<br><br>

    Notes: <input style="width: 60%;" type="text" id="edit_image_notes" name="notes" value="<TMPL_VAR IMAGE_NOTES>"> <br><br>

    <input type="hidden" name="item_id" value="<TMPL_VAR ID>">
    <input type="hidden" name="action" value="saveImage">
    <input type="hidden" id="edit_image_id" name="id" value="">
    <input type="submit" value="Save Image" style="font-size: 1.4em;">
    </form>

</div>

<div style="clear: both;"></div>

<form id="delete_form">
<input type="hidden" name="action" value="deleteImage">
<input type="hidden" id="delete_image_id" name="id" value="">
<input type="hidden" name="item_id" value="<TMPL_VAR ID>">
</form>

<script>

var images = <TMPL_VAR IMAGES_JSON>;

function deleteImage(id) {
    const confirmed = confirm("Really delete this image?");
    if ( confirmed ) {
        document.getElementById('delete_image_id').value = id;
        document.getElementById('delete_form').submit();
    }
}

function setImage(filename, id) {
    if ( images[id].main == 1 ) {
        document.getElementById("edit_image_main").checked = true;
    }
    else {
        document.getElementById("edit_image_main").checked = false;
    }
    if ( images[id].stock == 1 ) {
        document.getElementById("edit_image_stock").checked = true;
    }
    else {
        document.getElementById("edit_image_stock").checked = false;
    }
    document.getElementById("edit_image_notes").value = images[id].notes;
    document.getElementById('edit_image_id').value = id;
    document.getElementById('image_verb').innerHTML = 'Edit';
    document.getElementById('bigimage').src = '/images/' + filename;
    document.getElementById('delete_button').innerHTML = '<button onClick="deleteImage(' + id + ');">Delete</button>';
}

</script>


<TMPL_INCLUDE NAME="footer.tmpl">
