<TMPL_INCLUDE NAME="header.tmpl">

<div style="float: left; width: 50%;">
 
    <h2><TMPL_IF ID>Edit<TMPL_ELSE>Add</TMPL_IF> Category / Title</h2>

    <form method="post" enctype='multipart/form-data' action="<TMPL_VAR SCRIPT_NAME>">

    Series / Title / Category: <input type="text" size="80" name="category" value="<TMPL_VAR CATEGORY>"><br><br>

    Type: <select name="type">
    <option value="">select type...
    <TMPL_LOOP TYPES>
        <option value="<TMPL_VAR TYPE>" <TMPL_VAR SELECTED>><TMPL_VAR TYPE>
    </TMPL_LOOP>
    </select> &nbsp;&nbsp;
    
    <input type="checkbox" name="show_missing" <TMPL_IF SHOW_MISSING>CHECKED</TMPL_IF>> show missing items (issues, card numbers etc.) in series <br><br>

    <input type="hidden" name="id" value="<TMPL_VAR ID>">
    <input type="hidden" name="action" value="saveCategory">
    <input type="submit" value="Save" style="font-size: 1.4em;">
    </form>

    <br><br><br>
    <form method="post" action="<TMPL_VAR SCRIPT_NAME>" onSubmit="return confirm('Really delete category \'<TMPL_VAR CATEGORY>\'?');">
    <input type="hidden" name="action" value="deleteCategory">
    <input type="hidden" name="id" value="<TMPL_VAR ID>">
    <input type="submit" value="Delete">
    </form>

</div>

<div style="float: right; width: 50%;">
    <!-- <img style="text-align: right; max-width: 100%;" src="<TMPL_VAR THUMB_URL>"> -->
</div>
<div style="clear: both;"></div>



<TMPL_INCLUDE NAME="footer.tmpl">
