<form method="post" id="edit_issue_form" action="<TMPL_VAR SCRIPT_NAME>">
<input type="hidden" name="id" id="id" value="">
<input type="hidden" name="action" value="editItem">
</form>

<script src="https://www.mindmined.com/dark.js"></script>

</body></html>
