<!DOCTYPE html>
<html>
<head>
<title>Collect</title>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<style>

body {
    font-family: verdana, geneva, arial, sans-serif; 
}

h1 {
    margin-top: 0px;
}

a:link    {color:#00FFFF; text-decoration:none;}
a:visited {color:#00FFFF; text-decoration:none;}
a:active  {color:#00FFFF; text-decoration:none;}
a:hover   {color:#FF33CC; text-decoration:underline;}

.img {
    width: 90%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 20px;
    margin: 10px;
}

.grid > div {
    max-width: 700px;
}

/* Mobile: 1 column */
@media (max-width: 1000px) {
    .grid {
        grid-template-columns: 1fr; /* 1 column on screens smaller than 768px */
    }
    .img {
        width: 80%;
    }
}

</style>

<script>

function editIssue(id) {
    $('#id').val( id );
    $('#edit_issue_form').submit();    
}

</script>

</head>
<body>

<div style="float: left; width: 50%;">

    <h1>Collect</h1>

    <a href="<TMPL_VAR SCRIPT_NAME>?action=collectionInterface">full index</a> - <a href="?action=editIssue">add comic</a><br>
    Average Year: <TMPL_VAR AVERAGE_YEAR>; Average Grade: <TMPL_VAR AVERAGE_GRADE>; Total Books: <TMPL_VAR TOTAL_COLLECTION_COUNT>
</div>

<div style="float: left;">
<form method="post" action="<TMPL_VAR SCRIPT_NAME>">

    <input type="checkbox" name="ungraded" <TMPL_IF UNGRADED>CHECKED</TMPL_IF>> ungraded &nbsp;&nbsp;    

    <select name="title_id">
    <option value="">select title...
    <TMPL_LOOP TITLES>
        <option value="<TMPL_VAR ID>" <TMPL_VAR SELECTED>><TMPL_VAR TITLE>
    </TMPL_LOOP>
    </select> &nbsp;&nbsp;
    
    <select name="year">
    <option value="">all years...
    <TMPL_LOOP YEARS>
        <option value="<TMPL_VAR YEAR>" <TMPL_VAR SELECTED>><TMPL_VAR YEAR>
    </TMPL_LOOP>
    </select> &nbsp;&nbsp;
    
    <input type="submit" value="Refresh">
<!-- deemed too embarrassing ;)
    <input type="checkbox" name="beast_appear" <TMPL_IF BEAST_APPEAR>CHECKED</TMPL_IF>> Beast Appearance &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="checkbox" name="beast_cover" <TMPL_IF BEAST_COVER>CHECKED</TMPL_IF>> Beast Cover
-->
</form>
</div>

<div style="float: right;">
    <a href="https://www.mindmined.com"><img src="/images/logo_transparent.gif" border="0"></a>
</div>

<div style="clear: both;"></div>


