<TMPL_INCLUDE NAME="header.tmpl">

<TMPL_IF TITLE><TMPL_VAR TITLE>: </TMPL_IF> (<TMPL_VAR COUNT> items)<TMPL_IF AVERAGE_YEAR> Average Year: <TMPL_VAR AVERAGE_YEAR>; Average Grade: <TMPL_VAR AVERAGE_GRADE></TMPL_IF>

<TMPL_IF MESSAGE><span style="color: red;"><TMPL_VAR MESSAGE></span></TMPL_IF>

<TMPL_IF COMICS>
    <div align="center" style="font-size: 1.3em;">
        <font color="red"><TMPL_VAR TITLE></font> from <font color="red"><TMPL_VAR YEAR></font><br>
        <TMPL_IF MISSING><center>missing <font color="red"><TMPL_VAR MISSING></font><br></TMPL_IF>
    </div> <br>
 
    <div class="grid">
    <TMPL_LOOP COMICS>
        <div align="center">
            <div class="image-container">
                <TMPL_IF OFFSITE><span style="color: green;">IMAGE OFFSITE</span></TMPL_IF>
                <a onClick="editItem(<TMPL_VAR ID>);" class="type4" style="cursor: pointer;" target="_blank"><img width="95%" src="<TMPL_VAR THUMB_URL>" border="0" class="large-image" alt="item image"> <TMPL_IF STOCK><img src="/camera.webp" class="small-image" alt="stock image"></TMPL_IF> 
            </div>
            <br>
            <TMPL_VAR TITLE> #<TMPL_VAR ISSUE_NUM> <TMPL_VAR YEAR><TMPL_IF GRADE_ABBREV>, <TMPL_VAR GRADE_ABBREV></TMPL_IF></a><br>
            <TMPL_IF NOTES><span style="font-size: 0.8em;"><TMPL_VAR NOTES></span><br></TMPL_IF>
            <TMPL_IF IMAGE_COUNT><span style="font-size: 0.7em; font-style: italic;"><TMPL_VAR IMAGE_COUNT> images</span></TMPL_IF>
            <TMPL_IF SIZE><span style="font-size: 0.7em; font-style: italic;"><TMPL_VAR SIZE> kb</span></TMPL_IF>
        </div>
    </TMPL_LOOP>
    </div>

<TMPL_ELSE>
    <center><font color="red">No matches for <a href="<TMPL_VAR SCRIPT_NAME>?action=editCategory&id=<TMPL_VAR TITLE_ID>"><TMPL_VAR TITLE></a></font></center>
    <br><br>
</TMPL_IF>

<TMPL_INCLUDE NAME="footer.tmpl">
