<TMPL_INCLUDE NAME="header.tmpl">

<TMPL_IF TITLE><TMPL_VAR TITLE>: </TMPL_IF> (<TMPL_VAR COUNT> items)<TMPL_IF AVERAGE_YEAR> Average Year: <TMPL_VAR AVERAGE_YEAR>; Average Grade: <TMPL_VAR AVERAGE_GRADE></TMPL_IF>

<TMPL_IF MESSAGE><span style="color: red;"><TMPL_VAR MESSAGE></span></TMPL_IF>

<TMPL_IF COMICS>
    <div align="center" style="font-size: 1.3em;">
        items from <font color="red"><TMPL_VAR YEAR></font><br>
        <TMPL_IF MISSING><center>missing <font color="red"><TMPL_VAR MISSING></font><br></TMPL_IF>
    </div> <br>
 
    <div class="grid">
    <TMPL_LOOP COMICS>
        <div align="center">
        <a onClick="editIssue(<TMPL_VAR ID>);" class="type4" style="cursor: pointer;" target="_blank"><img width="95%" src="<TMPL_VAR THUMB_URL>" border="0"><br>
        <TMPL_VAR TITLE> #<TMPL_VAR ISSUE_NUM></a>
        <br><TMPL_VAR YEAR>, <TMPL_VAR GRADE_ABBREV>
        </div>
    </TMPL_LOOP>
    </div>

<TMPL_ELSE>
    <center><font color="red">No matches</font></center>
</TMPL_IF>

<TMPL_INCLUDE NAME="footer.tmpl">
